<!-- <p>home works!</p> -->
<!-- -------------Header Section--------------- -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="div1">
        <img src="../../assets/Smart.png">
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="/login" class="decor1"> Login </a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a routerLink="/signup" class="decor2"> Signup </a>
            </li>

        </ul>
    </div>
</nav>


<!-- -------------Body Section--------------- -->
Hello SmartData


<!-- -------------Footer Section--------------- -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color:white; text-align: center;">

    <div class="div2"> @Copyright </div>

</nav>